/* front-end css */
.container {
  padding-left: 250px;
  .left-side {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
    width: 250px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(250, 250, 250);
    ul li {
      width: 100%;
      height: 40px;
      padding: 10px 0 10px 40px;
      line-height: 40px;
      vertical-align: middle;
      font-family: "Microsoft YaHei UI";
      font-size: 20px;
      a {
        color: #080808;
        text-decoration: none;
      }
      &:hover {
        background: #fff;
      }
      &.active {
        background: #fff;
      }
    }
  }
  .right-side {
    padding: 100px 50px;
    .content {
      width: 100%;
      min-width: 400px;
      min-height: 70vh;
      background: rgb(250, 250, 250);
      background-clip: content-box;
      .site-nav {
        .first-level {
          list-style: none;
          .second-level {
            display: inline-block;
            margin: 5px;
            height: 40px;
            line-height: 40px;
            vertical-align: middle;
            list-style: none;
            font-size: 16px;
            font-family: "黑体", "Microsoft YaHei UI", "sans-serif";
            border: 1px solid #33CC66;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            a {
              color: #080808;
              text-decoration: none;
              div {
                margin: 0 20px;
              }
              &:hover {
                color: #fff;
              }
            }
            &:hover {
              background: #33CC66;
            }
          }
          .title {
            font-size: 20px;
            text-transform: capitalize;
            background: #33CC66;
          }
        }
      }
    }
  }
}
